# Node.js dependencies
node_modules/

# React Native build files
android/build/
ios/build/

# Expo files
.expo/
.expo-shared/

# Metro bundler cache
.cache/

# React Native and Android Studio/Gradle
.gradle/
*.log
*.tmp

# OSX specific files
.DS_Store

# Windows specific files
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
